body {
    font-family: 'Rubik', sans-serif;
    background-color:#eee;
}
:root {
    --main-color: #335F8E;
    --second-color: #2C9FEC;
    --orange-color: #ED7629;
    --light-color: #DAEBF9;
    --font-color: #37597d;
    --table-head-color: #e8f3ff;
    --table-border-color: #94c7ff;
}

#topbar {
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    width: calc(100vw - 80px);
    background-color: #fff;
}

    #topbar .navbar-brand {
        padding: 0;
    }

        #topbar .navbar-brand img {
            width: 200px;
        }

    #topbar .nav-item {
        line-height: 35px;
    }

    #topbar .avatar {
        width: 50px;
    }

    #topbar .dropdown-toggle {
        padding: 0;
    }

    #topbar .username {
        color: var(--second-color);
    }

    #topbar .balance {
        box-shadow: 0px 0px 6px #00000029;
        border: 0.5px solid #FFB968;
        border-radius: 6px;
        margin-left: 10px;
    }

        #topbar .balance img {
            width: 30px;
            padding-right: 5px;
            margin-right: 5px;
        }

        #topbar .balance .bal-amount {
            font-size: 1.3rem;
            font-weight: 500;
            margin-right: 5px;
        }

        #topbar .balance .link-account {
            font-size: 0.75rem;
        }
.main-content{
    margin-top:70px;
    
}
.content {
    background-color: #fff;
    margin:15px;
    border-radius:5px;
    padding:15px;
}


/*new css added 08-12-2021 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--main-color);
    background: var(--light-color);
    z-index: 10;
    padding-block: 7px;
    font-size: 0.7em;
}

    footer a {
        color: var(--second-color);
        text-decoration: none;
    }

    footer img {
        width: 80px;
    }

#main-content {
    padding-top: 90px;
}

#page-menu {
    background-color: var(--light-color);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

    #page-menu .datetime {
        color: #3E3E3E;
        margin-right: 15px;
    }

        #page-menu .datetime span {
            color: var(--main-color);
            font-weight: 700;
        }

    #page-menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        font-weight: 700;
        margin-left: 25px;
    }

        #page-menu a:hover,
        #page-menu a.active {
            color: var(--orange-color);
        }

#top-filter {
    display: flex;
    align-items: center;
}

    #top-filter h2 {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--main-color);
        margin: 0;
    }

        #top-filter h2 span {
            color: var(--second-color);
        }

.filter-box {
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 0.85rem;
    background-color: var(--light-color);
}

    .filter-box .form-select,
    .filter-box .form-control {
        font-size: 0.85rem;
        box-shadow: none;
        outline: none;
    }

    .filter-box .btn-apply {
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        font-size: 0.85rem;
        color: #8A8B8C;
        text-transform: uppercase;
        font-weight: 500;
    }

        .filter-box .btn-apply:hover {
            background-color: #8A8B8C;
            color: #fff;
        }

/* css added on 03122021*/
/*plot color-profile style start here*/
.eAuctionModal .eAc-ModHeader {
    background: #004C73;
    padding-bottom: 150px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: -150px;
}

.eAuctionModal .table-half-height {
    max-height: 18em;
}

.eAuctionModal .table-content {
    max-height: 34em;
    overflow: auto;
    width: 100%;
    display: block;
    border: solid 2px var(--table-border-color);
}

.eAuctionModal .dashboard-table {
    font-size: 0.85rem;
    margin-bottom: 0;
}

.eAuctionModal .table-content .dashboard-table th {
    position: sticky;
    top: -1px;
    border-top: none;
}

.eAuctionModal .dashboard-table > .thead-light th {
    background-color: var(--table-head-color);
    border-bottom: none;
    vertical-align: middle;
}

.eAuctionModal .eAuctionModal-table-sm td {
    padding-inline: .3rem !important;
}

.eAuctionModal .eAucCarousel .carousel-control-prev, .eAuctionModal .eAucCardSlider .carousel-control-prev {
    left: -18px;
}

.eAuctionModal .eAucCarousel .carousel-control-next, .eAuctionModal .eAucCardSlider .carousel-control-next {
    right: -18px;
}

.eAuctionModal .eAucCarousel .carousel-control-next,
.eAuctionModal .eAucCarousel .carousel-control-prev,
.eAuctionModal .eAucCardSlider .carousel-control-next,
.eAuctionModal .eAucCardSlider .carousel-control-prev {
    top: calc(50% - 9px);
    width: 25px;
    width: 17px;
    background: #000;
    height: 17px;
    padding: 4px;
    color: #fff;
    border-radius: 50%;
}

.eAuctionModal .card {
    font-size: .85rem;
}

.eAuctionModal .eAucCardSlider .bg-orange {
    background: #E2574C;
}
/*plotprofile css end*/


.eAuctiontabs {
    font-size: .8rem;
}

    .eAuctiontabs .nav-tabs {
        border-bottom: 0;
    }

        .eAuctiontabs .nav-tabs .nav-link {
            color: #202020;
            background-color: #ebebeb;
            padding: 0.25rem 0.5rem;
            margin-bottom: 0;
        }

            .eAuctiontabs .nav-tabs .nav-item.show .nav-link,
            .eAuctiontabs .nav-tabs .nav-link.active {
                color: #e9e9e9;
                background-color: #e9771e;
                border-color: transparent;
            }

/*fold table css*/
table.fold-table {
    background: white;
}

    table.fold-table > tbody > tr.view {
        transition: all 0.3s ease;
    }

        table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

            table.fold-table > tbody > tr.view td:last-child,
            table.fold-table > tbody > tr.view th:last-child {
                position: relative;
                padding-right: 20px;
            }

                table.fold-table > tbody > tr.view > td:last-child:before,
                table.fold-table > tbody > tr.view th:last-child:before {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin-top: -2px;
                    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAAG8AAABvAfGi3EMAAAEUSURBVChTvZC7SkNREEXXHB/EdwxYCzb+gIVgaWlhpa2FYEpRsJHgRRDEoJAUFoKpRBt7wU/w9RN+gEQIKj7uuE+4agKxzYLDPZzZe2bPpWsY1XSCnNUp2kf29j+J5xj3scArF9R9lTXvy0qdSXyYAT+V/ixgdoyzzpQvqtCfSdpJPM+g7+s2Qz87gReuFPJIp8SQF5sRWqmmo5qwrds0PaywaTeBXXunl3NSyjob6pj8Gg/SEd44JDCrNCUm7V7J3JrFyIl2evZ5GWuaWlGjGp/E6HOqLvNgd1zaV5T+mSKuJmVfkLCiSkPfgiItsWW3knqm0uBWNJq8XRNsT4bHToZI+6Qf4l8saK8na2jnNHvtOvANs1lW5U7/cMEAAAAASUVORK5CYII=');
                    transition: all 0.3s ease;
                    color: #00A2E9;
                    font-size: 16px;
                    font-weight: 900;
                }

        table.fold-table > tbody > tr.view.open {
            background: #eee;
            color: #00A2E9;
        }

            table.fold-table > tbody > tr.view.open td:last-child:before,
            table.fold-table > tbody > tr.view.open th:last-child:before {
                transform: rotate(-180deg);
                color: #00A2E9;
            }

    table.fold-table > tbody > tr.fold {
        display: none;
    }

        table.fold-table > tbody > tr.fold:hover {
            background-color: #fff;
        }

        table.fold-table > tbody > tr.fold.open {
            display: table-row;
        }

.fold-content {
    padding: 0em;
}
/*custom css added for table*/

.eAuction-fold-table table.fold-table > tbody > tr.view.open {
    background: #DAEBF9;
    color: #000000;
    font-weight: normal;
}

.eAuction-fold-table table.fold-table > tbody > tr.fold {
    /* background: #CEE4FE;*/
}

.eAuction-fold-table .media {
    background: #DFEEFF;
    border: 1px solid #b0d7ff;
}

.eAuction-fold-table .eAuction-striped > tbody > tr:nth-child(4n+3) {
    background-color: #edf6ffb0;
}

.eAuction-fold-table .dashboard-table > .thead-light th {
    background-color: #37597d !important;
    border-top: 0;
    color: #ffffff;
    font-weight: 400;
    vertical-align: top;
}

.eAuction-fold-table .dashboard-table .view td {
    border-top: 0;
}

.eAuction-fold-table .dashboard-table .view > td {
    border-top: 0;
    font-weight: 500;
}

.eAuctionInnerTable {
    font-size: .92em;
}

    .eAuctionInnerTable thead.table-secondary,
    .eAuction-fold-table thead.thead-light {
        vertical-align: middle;
    }

.eAuction-table-border {
    border: 1px solid #37597d !important;
}

.pagination .page-item .page-link {
    cursor: pointer;
    border-radius: 0 !important;
    color: #37597D;
    font-weight: 500;
    font-size: 0.85rem;
}

.pagination .page-item.active .page-link {
    background-color: #37597D;
    border-color: #37597D;
    color: #fff;
}
/* css added on 03122021*/

/* Participate style start here*/
.eAucParticipate {
    font-size: .8rem;
}

.eAuction-table table > .thead-light th {
    background-color: #37597d !important;
    border-top: 0;
    color: #ffffff;
    font-weight: 400;
}

.eAuction-table-height {
    max-height: 38em;
    overflow: auto;
    width: 100%;
    display: block;
    border: solid 2px var(--table-border-color);
}

    .eAuction-table-height::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #D9E6F5;
    }

    .eAuction-table-height::-webkit-scrollbar {
        width: 4px;
        background-color: #508BC9;
    }

    .eAuction-table-height::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #335F8E;
    }

.eAucParticipate tbody > tr {
    background: #EEF4FB;
    border-bottom: 2px solid #ffffff;
}

.table > :not(:first-child) {
    border-top: 0px;
}

.content-head {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.063em;
    color: var(--font-color);
    border-bottom: solid 3px var(--orange-color);
    display: inline-block;
    margin-bottom: 15px;
}
#outertop img{
    width:200px;
}
#home-content {
    padding: 15px 0;
}
    #home-content .main-card {
        padding: 15px;
        background-color:#fff;
        border-radius:10px;
    }

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 0.85rem;
    border-radius: 0;
    box-shadow: none;
}
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }
.form-group {
    margin-bottom: 1rem;
}