body {
    font-family: 'Inter', sans-serif;
    background-color: #eee;
}

:root {
    --main-color: #335F8E;
    --second-color: #2C9FEC;
    --orange-color: #ED7629;
    --light-color: #DAEBF9;
    --font-color: #37597d;
    --table-head-color: #e8f3ff;
    --table-border-color: #94c7ff;
    --blue-color: #2F9CFC;
    --gray-color: #777474;
}

.text-theme {
    color: var(--main-color);
}
.text-orange {
    color: var(--orange-color);
}
.text-blue {
    color: var(--blue-color)!important;
}
.text-green {
    color: #27c727;
}
.text-gray {
    color: var(--gray-color);
}
.w-100px{
    width:100px !important;
}
.shadow-theme {
    box-shadow: 0px 3px 6px #24599126;
}
.fw-500 {
    font-weight: 500 !important;
}
.btn-blue.btn-outline-primary {
    color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}
    .btn-blue.btn-outline-primary:hover {
        color: #fff !important;
        background-color: var(--blue-color) !important;
        border-color: var(--blue-color) !important;
    }
.border-bottom-success {
    border-bottom: 2px solid rgb(39, 199, 39) !important;
}

.border-bottom-orange {
    border-bottom: 2px solid var(--orange-color) !important;
}

.border-bottom-blue {
    border-bottom: 2px solid var(--blue-color) !important;
}

.border-blue {
    border: 1px solid var(--blue-color) !important;
}
.form-select-xs {
    padding: 0.375rem 1.25rem 0.375rem 0.75rem;
    background-position: right 0.25rem center;
}



.main-card .col-form-label,
.main-card .form-check-label {
    font-size: .95rem;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.eAuction-fold-table .btn-outline-primary {
    color: #0d6efd;
    border-color: #878787;
    background: #fff;
}
#topbar {
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    width: calc(100vw - 80px);
    background-color: #fff;
    z-index: 1;
}

    #topbar .navbar-brand {
        padding: 0;
    }

        #topbar .navbar-brand img {
            width: 250px;
        }

    #topbar .nav-item {
        line-height: 35px;
    }

    #topbar .avatar {
        width: 50px;
    }

    #topbar .dropdown-toggle {
        padding: 0;
    }

    #topbar .username {
        color: var(--second-color);
    }

    #topbar .balance {
        box-shadow: 0px 0px 6px #00000029;
        border: 0.5px solid #FFB968;
        border-radius: 6px;
        margin-left: 10px;
    }

        #topbar .balance img {
            width: 30px;
            padding-right: 5px;
            margin-right: 5px;
        }

        #topbar .balance .bal-amount {
            font-size: 1.3rem;
            font-weight: 500;
            margin-right: 5px;
        }

        #topbar .balance .link-account {
            font-size: 0.75rem;
        }

.main-content {
    margin-top: 70px;
}

.content {
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    min-height: calc(100vh - 130px);
    margin-bottom: 45px;
}


/*new css added 08-12-2021 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--main-color);
    background: var(--light-color);
    z-index: 10;
    padding-block: 7px;
    font-size: 0.7em;
}

    footer a {
        color: var(--second-color);
        text-decoration: none;
    }

    footer img {
        width: 80px;
    }

#main-content {
    padding-top: 90px;
}

#page-menu {
    background-color: var(--light-color);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

    #page-menu .datetime {
        color: #3E3E3E;
        margin-right: 15px;
    }

        #page-menu .datetime span {
            color: var(--main-color);
            font-weight: 700;
        }

    #page-menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        font-weight: 700;
        margin-left: 25px;
    }

        #page-menu a:hover,
        #page-menu a.active {
            color: var(--orange-color);
        }

#top-filter {
    display: flex;
    align-items: center;
}

    #top-filter h2 {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--main-color);
        margin: 0;
    }

        #top-filter h2 span {
            color: var(--second-color);
        }

.filter-box {
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 0.85rem;
    background-color: var(--light-color);
}

    .filter-box .form-select,
    .filter-box .form-control {
        font-size: 0.85rem;
        box-shadow: none;
        outline: none;
    }

    .filter-box .btn-apply {
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        font-size: 0.85rem;
        color: #8A8B8C;
        text-transform: uppercase;
        font-weight: 500;
    }

        .filter-box .btn-apply:hover {
            background-color: #8A8B8C;
            color: #fff;
        }

/* css added on 03122021*/
/*plot color-profile style start here*/
.eAuctionModal .eAc-ModHeader {
    background: #004C73;
    padding-bottom: 150px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: -150px;
}

.eAuctionModal .table-half-height {
    max-height: 18em;
}

.eAuctionModal .table-content {
    max-height: 34em;
    overflow: auto;
    width: 100%;
    display: block;
    border: solid 2px var(--table-border-color);
}

.eAuctionModal .dashboard-table {
    font-size: 0.85rem;
    margin-bottom: 0;
}

.eAuctionModal .table-content .dashboard-table th {
    position: sticky;
    top: -1px;
    border-top: none;
}

.eAuctionModal .dashboard-table > .thead-light th {
    background-color: var(--table-head-color);
    border-bottom: none;
    vertical-align: middle;
}

.eAuctionModal .eAuctionModal-table-sm td {
    padding-inline: .3rem !important;
}

.eAuctionModal .eAucCarousel .carousel-control-prev, .eAuctionModal .eAucCardSlider .carousel-control-prev {
    left: -18px;
}

.eAuctionModal .eAucCarousel .carousel-control-next, .eAuctionModal .eAucCardSlider .carousel-control-next {
    right: -18px;
}

.eAuctionModal .eAucCarousel .carousel-control-next,
.eAuctionModal .eAucCarousel .carousel-control-prev,
.eAuctionModal .eAucCardSlider .carousel-control-next,
.eAuctionModal .eAucCardSlider .carousel-control-prev {
    top: calc(50% - 9px);
    width: 25px;
    width: 17px;
    background: #000;
    height: 17px;
    padding: 4px;
    color: #fff;
    border-radius: 50%;
}

.eAuctionModal .card {
    font-size: .85rem;
}

.eAuctionModal .eAucCardSlider .bg-orange {
    background: #E2574C;
}
/*plotprofile css end*/


.eAuctiontabs {
    font-size: .8rem;
}

    .eAuctiontabs .nav-tabs {
        border-bottom: 0;
    }

        .eAuctiontabs .nav-tabs .nav-link {
            color: #202020;
            background-color: #ebebeb;
            padding: 0.25rem 0.5rem;
            margin-bottom: 0;
        }

            .eAuctiontabs .nav-tabs .nav-item.show .nav-link,
            .eAuctiontabs .nav-tabs .nav-link.active {
                color: #e9e9e9;
                background-color: #e9771e;
                border-color: transparent;
            }

/*fold table css*/
table.fold-table {
    background: white;
}

    table.fold-table > tbody > tr.view {
        transition: all 0.3s ease;
    }

        table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

            table.fold-table > tbody > tr.view td:last-child,
            table.fold-table > tbody > tr.view th:last-child {
                position: relative;
                padding-right: 20px;
            }

                table.fold-table > tbody > tr.view > td:last-child:before,
                table.fold-table > tbody > tr.view th:last-child:before {
                    position: absolute;
                    top: calc(50% - 12px);
                    right: 10px;
                    margin-top: -2px;
                    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAAG8AAABvAfGi3EMAAAEUSURBVChTvZC7SkNREEXXHB/EdwxYCzb+gIVgaWlhpa2FYEpRsJHgRRDEoJAUFoKpRBt7wU/w9RN+gEQIKj7uuE+4agKxzYLDPZzZe2bPpWsY1XSCnNUp2kf29j+J5xj3scArF9R9lTXvy0qdSXyYAT+V/ixgdoyzzpQvqtCfSdpJPM+g7+s2Qz87gReuFPJIp8SQF5sRWqmmo5qwrds0PaywaTeBXXunl3NSyjob6pj8Gg/SEd44JDCrNCUm7V7J3JrFyIl2evZ5GWuaWlGjGp/E6HOqLvNgd1zaV5T+mSKuJmVfkLCiSkPfgiItsWW3knqm0uBWNJq8XRNsT4bHToZI+6Qf4l8saK8na2jnNHvtOvANs1lW5U7/cMEAAAAASUVORK5CYII=');
                    transition: all 0.3s ease;
                    color: #00A2E9;
                    font-size: 16px;
                    font-weight: 900;
                }

        table.fold-table > tbody > tr.view.open {
            background: #eee;
            color: #00A2E9;
        }

            table.fold-table > tbody > tr.view.open td:last-child:before,
            table.fold-table > tbody > tr.view.open th:last-child:before {
                transform: rotate(-180deg);
                color: #00A2E9;
            }

    table.fold-table > tbody > tr.fold {
        display: none;
    }

        table.fold-table > tbody > tr.fold:hover {
            background-color: #fff;
        }

        table.fold-table > tbody > tr.fold.open {
            display: table-row;
        }

.fold-content {
    padding: 0em;
}
/*custom css added for table*/

.eAuction-fold-table table.fold-table > tbody > tr.view.open {
    background: #E8EFF8;
    color: #000000;
    font-weight: normal;
}

.eAuction-fold-table table.fold-table > tbody > tr.fold {
    /* background: #CEE4FE;*/
}

.eAuction-fold-table .media {
    background: #DFEEFF;
    border: 1px solid #b0d7ff;
}

.eAuction-fold-table .eAuction-striped > tbody > tr:nth-child(4n+3) {
    background-color: #edf6ffb0;
}

.eAuction-fold-table .dashboard-table > .thead-light th {
    background-color: #37597d !important;
    border-top: 0;
    color: #ffffff;
    font-weight: 400;
    vertical-align: top;
}

.eAuction-fold-table .dashboard-table .view td {
    border-top: 0;
}

.eAuction-fold-table .dashboard-table .view > td {
    border-top: 0;
    font-weight: 500;
}

.eAuctionInnerTable {
    font-size: .92em;
}

    .eAuctionInnerTable thead.table-secondary,
    .eAuction-fold-table thead.thead-light {
        vertical-align: middle;
    }
.eAuction-table .event_table.table td {
    background: #EEF4FB;
    border-left: 1px solid #ccc;
    color: #111111;
    font-weight: 500;
}
.eAuction-table .event_table.table td:first-child {
    border-left: 0px solid #ccc;
}
.eAuction-table-border {
    border: 1px solid #70B6FF !important
}

.pagination .page-item .page-link {
    cursor: pointer;
    border-radius: 0 !important;
    color: #37597D;
    font-weight: 500;
    font-size: 0.85rem;
}

.pagination .page-item.active .page-link {
    background-color: #37597D;
    border-color: #37597D;
    color: #fff;
}
/* css added on 03122021*/

/* Participate style start here*/
.eAucParticipate {
    font-size: .8rem;
}

.eAuction-table table > .thead-light th {
    background-color: #335F8E !important;
    border-top: 0;
    color: #ffffff;
    font-weight: 400;
}
.eAuction-table table > .thead-primary th {
    background-color: #BFDDFF !important;
    border-top: 0;
    color: #234160;
    font-weight: 700;
}

.eAuction-table-height {
    max-height: 31em;
    overflow: auto;
    width: 100%;
    display: block;
    border: solid 2px var(--table-border-color);
}

    .eAuction-table-height::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #D9E6F5;
    }

    .eAuction-table-height::-webkit-scrollbar {
        width: 4px;
        background-color: #508BC9;
    }

    .eAuction-table-height::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #335F8E;
    }

.eAucParticipate tbody > tr {
    background: #EEF4FB;
    /*border-bottom: 2px solid #ffffff;*/
}

.table > :not(:first-child) {
    border-top: 0px;
}

.content-head {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.063em;
    color: var(--font-color);
    border-bottom: solid 3px var(--orange-color);
    display: inline-block;
    margin-bottom: 15px;
}

#outertop img {
    width: 200px;
}

#home-content {
    padding: 15px 0;
}

    #home-content .main-card {
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        min-height: calc(100vh - 130px);
    }

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 0.85rem;
    border-radius: 0;
    box-shadow: none;
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

.form-group {
    margin-bottom: 1rem;
}

.form-check-input:checked {
    background-color: #234160;
    border-color: #234160;
}

.upload-photo .btn-info {
    font-size: 12px;
    background: #234160;
    border: #234160;
    padding: 4px 15px;
    max-width: 100%;
    width: 120px;
    color: #fff;
}

button.dept_submit {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.dept_submit .fa-times {
    background: #FE737C;
    color: #fff;
    padding: 3px 3px;
    border-radius: 50%;
    transform: rotateZ(270deg);
    font-size: 10px;
    margin: 0px 6px 0 0;
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    line-height: 13px;
}
.dept_submit .fa-sign-out-alt {
    background: #24BE9E;
    color: #fff;
    padding: 3px 3px;
    border-radius: 50%;
    transform: rotateZ(270deg);
    font-size: 10px;
    margin: 0px 6px 0 0;
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    line-height: 13px;
}
.dept_submit .fa-eye {
    background: #5293F5;
    color: #fff;
    padding: 3px 3px;
    border-radius: 50%;
    /* transform: rotateZ(270deg);*/
    font-size: 10px;
    margin: 0px 6px 0 0;
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    line-height: 13px;
}
/*.dept_submit .fa-times {
    background: #FE737C;
    color: #fff;
    padding: 5px 5px;
    border-radius: 50%;
    transform: rotateZ(270deg);
    font-size: 11px;
    margin: 0px 10px 0 0;
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
}*/

/*.dept_submit .fa-sign-out-alt {
    background: #24BE9E;
    color: #fff;
    padding: 5px 5px;
    border-radius: 50%;
    transform: rotateZ(270deg);
    font-size: 11px;
    margin: 0px 10px 0 0;
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
}*/

/*///////////// CSS for Login page Starts //////////////*/
.upper-body {
    background-color: var(--font-color);
    height: 50vh;
}

.lower-body {
    background-color: rgba(112, 169, 233, 0.25);
    height: 50vh;
}

.login-box {
    position: absolute;
    top: 45%;
    margin: 0 auto;
    /* display: flex; */
    max-width: 480px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .login-box .logo {
        margin: 0 auto;
        text-align: center;
        display: flex;
        padding-bottom: 40px;
    }

    .login-box .login {
        background-color: #fff;
        border-radius: 10px;
        height: 400px;
        padding: 30px 50px;
    }


        .login-box .login .login-close {
            text-align: right;
            font-size: 1.375em;
            position: absolute;
            right: 15px;
            top: 95px;
        }

            .login-box .login .login-close a {
                color: #aaa;
            }

        .login-box .login h6 {
            color: var(--font-color);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 25px;
            font-size: 1.375em;
        }

        .login-box .login .form-control {
            border-radius: 0;
            border: none;
            border-bottom: solid 1px #aaa;
            font-size: 0.875em;
            box-shadow: none;
            /*padding-left: 0;*/
        }

        .login-box .login .captcha {
            background-color: #E8F0FE;
            border: none;
        }

        .login-box .login button.captcha {
            background-color: #E8F0FE;
            width: 40px;
            height: 40px;
        }

        .login-box .login .btn-login {
            background-color: var(--font-color);
            color: #fff;
            padding: 5px 20px;
            border-radius: 5px;
            text-transform: uppercase;
            border: none;
            font-size: 0.813em;
        }
.generate_pwd .btn-link {
   
    font-size: 11px;
    color: #5385FB;
    padding: 0;
    margin-bottom: 25px;
}

/* CSS for Login page ends */
/* submit modal css start */
.submit-modal .btn-close {
    font-size: 8px;
    position: absolute;
    right: 10px;
    width: 16px;
    top: 8px;
    height: 16px;
    border: 1px solid #626262;
    border-radius: 50%;
    text-align: center;
    display: block;
}

.submit-modal .modal-content {
    display: block;
    padding: 15px;
}

.submit-modal .modal-body {
    border: 2px solid #24be9e;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.submit-modal .model-check {
    text-align: center;
    background: #dee1e3;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    margin: 0 auto !important;
    position: relative;
    overflow: hidden;
}

    .submit-modal .model-check .fa-check {
        width: 60px;
        height: 60px;
        background: #24be9e;
        border-radius: 50%;
        font-size: 35px;
        line-height: 59px;
        color: #fff;
        display: block;
    }

.model-check::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #00000000 0%,#00000000 50%,#00000014 50%,#00000014 100%);
}

.submit-modal h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #022621;
    margin: 45px 0 15px;
}
/* submit modal css end */
/* .eAuctionModal-sm modal css start */
.eAuctionModal-sm .modal-content {
    border-radius: 13px;
}

.eAuctionModal-sm .eAc-ModHeader {
    background: #004C73;
    padding-bottom: 60px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: -40px;
    position: relative;
}

    .eAuctionModal-sm .eAc-ModHeader .btn-close {
        font-size: 11px;
        position: absolute;
        right: 15px;
        width: 15px;
        top: 15px;
        height: 15px;
        border: 1px solid #dbdada;
        border-radius: 50%;
        text-align: center;
        display: block;
        background: transparent;
        padding: 2px;
        text-align: center;
    }

.greenCheck {
    color: #fff;
    border: 4px solid #fff;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #03CB77;
    font-size: 20px;
}
/* eAuctionModal-sm modal css end */

/* make payment css start */
.grassPayment_o {
    /*box-shadow: 0px 0px 20px #0A4B6D1A;*/
    border-radius: 7px;
    /*background: #ffffff;*/
    padding: 20px;
    margin-bottom: 20px;
}

#pay-head {
    font-size: 0.85rem;
    border-bottom: solid 1px #eee;
    margin-bottom: 15px;
}

    #pay-head span {
        color: #37597d;
        font-weight: bold;
    }

#payment-tab .nav-item {
    /*width: 50%;*/
}

.headerDetails table tbody tr td:first-child {
    min-width: 70px;
}

#payment-tab .nav-link {
    background: rgb(255,255,255);
    background: linear-gradient( 180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    color: #858585;
    font-weight: bold;
    border: solid 1px #ddd;
    margin-left: 18px;
    /*width: 268px;*/
    padding: 10px 15px 10px 0;
    text-align: center;
    margin-right: 10px;
}

    #payment-tab .nav-link i {
        border: solid 1px;
        padding: 2px;
        border-radius: 50%;
        background: #fff;
        color: #ddd;
        float: left;
        font-size: 40px;
        margin-top: -11px;
        margin-left: -21px;
    }

    #payment-tab .nav-link.active {
        color: #007bff;
    }

        #payment-tab .nav-link.active i {
            color: green;
        }

.table {
    font-size: 0.8rem;
}

    .table td,
    .table th {
        /*padding: 4px 10px;*/
        vertical-align: middle;
    }

    .table caption {
        font-style: italic;
        font-size: 0.7rem;
        padding-top: 3px;
        font-weight: 500;
    }

.table-payment th,
.table-payment tfoot {
    background: #e8f3ff;
    border: 1px solid #70B6FF;
    font-weight: bold !important;
    color: #37597d;
}

.table-payment {
    border: 1px solid #70B6FF;
}

    .table-payment td,
    .table-payment thead th {
        border: 1px solid #70B6FF;
        color: #37597d;
        font-weight: bold;
    }

    .table-payment tr:nth-child(even) {
        background-color: #e8f3ff;
    }

.payment-details {
    font-size: 0.85rem;
    font-weight: bold;
}

    .payment-details .btn {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
        border: solid 2px #aaa;
        font-size: 0.85rem;
        padding: 7px 20px;
        font-weight: 700;
        color: green;
    }

.table-history {
    border: solid 1px #f6caa3;
    color: #555;
}

    .table-history td,
    .table-history th,
    .table-history thead th {
        border: solid 1px #f6caa3;
        font-weight: bold;
        vertical-align: middle;
    }

    .table-history th,
    .table-history tfoot {
        background-color: #ffe4cc;
    }

.right-tabdata {
    margin-top: -43px;
}

/* make payment css end */

/*thank you css start */

.gp_progress {
    margin: 40px 0 0px;
}

    .gp_progress .progress {
        height: 8px;
        background: #C0D9F5;
        border-radius: 15px;
        margin-bottom: 30px;
        overflow: visible;
        position: relative;
    }

        .gp_progress .progress .progress-bar {
            border-radius: 15px;
            box-shadow: none;
            position: relative;
            animation: animate-positive 2s;
            overflow: visible;
        }

        .gp_progress .progress .progress-value {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 16px;
            background: #5cc867;
            border: 7px solid #5cc867;
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            position: absolute;
            top: -17px;
            right: -15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.modal-content {
    box-shadow: 0px 0px 20px #0000001A;
    border-radius: 8px !important;
}

.gp_modal_o {
    padding: 15px;
    border: 1px solid #24BE9E;
    border-radius: 10px;
    text-align: right;
    padding-left: 45%;
    padding-top: 100px;
    position: relative;
}

    .gp_modal_o p {
        font-size: 15px;
        font-weight: 500;
        color: #575757;
    }

    .gp_modal_o h2 {
        color: #575757;
        text-align: right;
        font-size: 45px;
        font-weight: 600;
    }

    .gp_modal_o p.blue {
        color: #375E87;
        font-size: 16px;
        margin-bottom: 60px;
        margin-top: 10px;
    }

    .gp_modal_o .btn-primary {
        background: #37597D;
        border-color: #37597D;
        padding: 7px 40px;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 9px;
    }

        .gp_modal_o .btn-primary:hover,
        .gp_modal_o .btn-info:focus,
        .gp_modal_o .btn-info:active,
        .gp_modal_o .btn-info:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #416a97;
            border-color: #416a97;
        }



            .gp_modal_o .btn-info:focus,
            .gp_modal_o .btn-info:not(:disabled):not(.disabled):active:focus {
                box-shadow: 0 0 0 2px #5da2ec45;
            }

.gpmod_mini {
    position: absolute;
    top: calc(50% - 120px);
    left: -130px;
    background: transparent linear-gradient(182deg, #426C9A 0%, #294B6E 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    padding: 15px 25px 15px;
    padding: 15px 25px 15px;
}

    .gpmod_mini img {
        width: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .gpmod_mini h5 {
        font-size: 24px;
        font-weight: 300;
    }

    .gpmod_mini h3 {
        font-size: 40px;
    }

    .gpmod_mini p {
        color: #ffffff;
        font-size: 11px;
        font-weight: 300;
        margin-bottom: 0;
    }

/*thank you css end */



/*stepper css start here*/
.event_head h5 {
    letter-spacing: 0px;
    color: #436D9A;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 3px solid #FFB968;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 1rem;
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
#msform fieldset:not(:first-of-type) {
    display: none
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #436D9A;
    font-size: 11px;
    width: 20%;
    float: left;
    position: relative;
}
    #progressbar li:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        background: #d4d4d4;
        color: #fff;
    }

    #progressbar li:after {
        position: absolute;
        width: calc(100% - 40px);
        height: 2px;
        border-bottom: 2px dashed #cac9c9;
        right: calc(50% - -20px);
        top: 14px;
        content: '';
        z-index: 0;
    }

    #progressbar li.active:before{
        background: #27c727;
        color: white;
    }
       



    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 20%;
        float: left;
        position: relative
    }

       /* #progressbar li :before {
            font-family: FontAwesome;
            content: "\f00c";
        }*/
    /*#progressbar #account :before {
        font-family: FontAwesome;
        content: "01";
    }*/

    #progressbar #personal:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight:bold;
    }

    #progressbar #payment:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
    }

    #progressbar #payment2:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
    }

    #progressbar #confirm:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
    }

   /* #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f09d"
    }

    #progressbar #payment2:before {
        font-family: FontAwesome;
        content: "\f09d"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }*/

    #progressbar li:before {
        width: 30px;
        height: 30px;
        line-height: 28px;
        display: block;
        font-size: 16px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }
    #progressbar li:after {
        position: absolute;
        width: calc(100% - 40px);
        height: 2px;
        border-bottom: 2px dashed #cac9c9;
        right: calc(50% - -20px);
        top: 14px;
        content: '';
        z-index: 0;
    }
    #progressbar li:first-child:after {
        content: none;
    }
   

.radio-group {
    position: relative;
    margin-bottom: 25px
}


.fit-image {
    width: 100%;
    object-fit: cover
}
table.event_table {
    text-align: left;
}
.event_table.et_2.table td, .event_table.et_2.table th {
    color: #111111;
}
.event_table.table .thead-dark th {
    color: #111111;
    background-color: #D1DFEF;
    border-color: #D1DFEF;
    font-weight: 600;
    font-size: .8rem;
    padding-block: 10px;
}
.event_table.et_2.table td, .event_table.et_2.table th {
    color: #111111;
}
.event_table.table td, .event_table.table th {
    /*color: #2680EB;*/
    font-size: .78rem;
    font-weight: 500;
}
.evt_upload_grp .form-group {
    display: inline-block;
    margin-bottom: 0;
}



.evt_upload_grp .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.evt_upload_grp .form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: -2px;
}
.evt_upload_grp .form-group input:checked + label:before {
    background-color: #17d02a;
    border-radius: 50%;
    border: 2px solid #17d02a;
    color: #fff;
}
.evt_upload_grp .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
}
    .evt_upload_grp .form-group label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid #c8cac8;
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        color: #fff;
    }
.evt_upload_grp .form-group input + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #c8cac8;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.evt_upload_grp .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
   
}
.evt_upload_grp .btn {
    color: #436D9A;
    background-color: #D1DFEF;
    padding: 4px 15px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
}
.btn-theme {
    background: #234160;
    color: #fff;
}
    .btn-theme:hover {
        background: #152434;
        color: #fff;
    }
.card.primaryCard {
    border: 1px solid #70B6FF;
    background: #EEF4FB;
}

/*stepper css end here*/

/*LiveBidding css start here*/
.liveBidding .eAuction-table .event_table.table td {
    border-left: 0px;
    background: #ffffff;
    padding: 8px;
}
.table-striped > tbody > tr:nth-of-type(even) > * {
    --bs-table-accent-bg: #DFEFFF;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #ffffff;
}
.liveBidding .eAuction-table table > .thead-light th {
    padding: 8px;
}
.liveBidding .eAuction-table .event_table.table .bg-theme td {
    background: #335F8E;
    color: #fff;
}
.bg-theme .form-check-input:checked {
    background-color: #335F8E;
    border-color: #ffffff;
}
.btn-theme-light {
    background: #DFEFFF;
    color: #3072E5;
}
    .btn-theme-light:hover {
        background: #b8d2ed;
        color: #3072E5;
    }
/*LiveBidding css end here*/

/*PaymentStatus.aspx css start here*/
.cardGradient .card .card-body {
    color: #ffffff;
    border-radius: 4px;
    position:relative;
}
    .cardGradient .card .card-body img{
        position:absolute;
        right:10px;
        bottom:10px;
        height:50px;
    }
    .cardGradient .card .card-body.card-blue {
        background: transparent linear-gradient(116deg, #59E7FE 0%, #7D81FF 100%);
        box-shadow: 0px 7px 7px #7d81ff55;
    }
    .cardGradient .card .card-body.card-orange {
        background-image: linear-gradient(135deg, #FEAB73 0%, #FF6B88 100%);
        box-shadow: 0px 7px 7px #FF6B8855;
    }
    .cardGradient .card .card-body.card-green {
        background-image: linear-gradient(135deg, #44DEC5 0%, #4DBCF6 100%);
        box-shadow: 0px 7px 7px #4DBCF655;
    }
    .cardGradient .card .card-body.card-purple {
        background-image: linear-gradient(135deg, #F482ED 0%, #727CFE 100%);
        box-shadow: 0px 7px 7px #727CFE55;
    }

.input-group-prepend {
    margin-right: -1px;
}
.dash_filter .input-group .input-group-text {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: none;
    font-size: 0.85rem;
    padding: 6px 10px;
    color: #37597d;
    font-weight: 600;
    border-radius: 0.25rem;
}
.dash_filter .input-group .form-control {
    border-left: none !important;
    margin-bottom: 0 !important;
}
.dash_filter .form-control {
    box-shadow: none !important;
    border: 1px solid #ced4da;
    font-size: 0.85rem !important;
    padding: 6px 10px;
    border-radius: 0.25rem;
}

.paymentCards .card {
    font-size: .82rem;
    box-shadow: 0px 3px 6px #24599126;
    border-radius: 6px;
}
.paymentCards .card p {
    margin-bottom: 2px;
    color: #777474;
}
.paymentCards .card p.fw-bold {
    color: #000000;
}
.paymentCards .card img {
    width: 14px;
}
.btn-outline-warning.btn-orange-o {
    position: relative;
    border-color: #FC893C;
    color: var(--main-color);
    font-weight: 600;
    font-size: .85rem;
}
.btn-outline-warning.btn-orange-o:hover {
    background: #ffa161;
}
    .btn-outline-warning.btn-orange-o::before {
        position: absolute;
        content: '';
        width: 150%;
        height: 1px;
        background: #FC893C;
        right: 100%;
        top: 50%;
    }
    .btn-outline-warning.btn-orange-o::after {
        position: absolute;
        content: '';
        width: 150%;
        height: 1px;
        background: #FC893C;
        left: 100%;
        top: 50%;
    }
/*PaymentStatus.aspx css end here*/
/*PaymentHistory.aspx css start here*/
.paymentHistoryCards .card-header {
    background: #004C73;
    color: #fff;
    padding-block: 10px;
}
.paymentHistoryCards .card-header p{
    margin-bottom: 0px;
}
.paymentHistoryCards {
        font-size: .825rem;
    }
.paymentHistoryCards p {
    margin-bottom: 4px;
}

/*PaymentHistory.aspx css end here*/
/*VirtualAccountDetails.aspx css start here*/
.AccountDetailCard {
    font-size: .85rem;
}
.AccountDetailCard p {
    margin-bottom: 5px;
}
.walletBlue {
    background: #4691E0;
}
.padY10 td {
    padding-block: 10px!important;
}
/*VirtualAccountDetails.aspx css end here*/
